
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins',sans-serif;
    /* background-color: red; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding:  19px ;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    padding: 0 23px 0 23px;
    /* font-size: 15px; */
}

ul li a{
    color: white;
    text-decoration: none;
}

ul>li>a:hover{
    color: rgb(76, 89, 94);
}

main{
    min-height: 100vh;
    padding: 2 px;
}

.logo img{
    width: 15px;
    filter: invert(1);
  }
  
.container{
    background-color: rgb(255, 255, 255);
    max-width: 80vw;
    margin: auto;
    padding: 9px 15px;
}
.container h1 {
  padding: 12px 0 ;
}
input[type='text']{
    min-width: 23vw;
    padding: 3px 12px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
}
.btn{
    background: black;
    color: white;
    padding: 9px 12px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
#resultCont div::first-letter{
    text-transform: uppercase;
}

footer{
    font-size: 12px;
    background-color: black;
    color: white;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    
  .container{
    font-size: 12px;
  }  
  nav{
    flex-direction: column;
  }
  .logo{
    padding: 6px 0 ;
    font-size: 12px;
  }
  .logo img{
    width: 15px;
    filter: invert(1);
  }
  .logo span{
    font-size: 20px;
  }
}